
* {
    font-family: 'Droid Sans Mono', monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.menu {
  background-color: black;
  height: 100vh;
  width: 30%;
  /*float: left;*/
  padding: 10px;
  color: white;
  position: sticky;

}
.content {
  background-color:white;
  /*width: 33.33%;*/
  padding: 25px;
}

/* Style the header */
.header {
    height: 100vh;
    background: -webkit-linear-gradient(top left, #0fb8ad, #1fc8db, #2cb5e8);
    background: -o-linear-gradient(top left, #0fb8ad, #1fc8db, #2cb5e8);
    background: linear-gradient(to bottom right, #0fb8ad, #1fc8db, #2cb5e8);
    padding: 150px;
}
.header h1 {
  text-align: center;

}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
  background: -webkit-linear-gradient(top left, #0fb8ad, #1fc8db, #2cb5e8);
  background: -o-linear-gradient(top left, #0fb8ad, #1fc8db, #2cb5e8);
  background: linear-gradient(to bottom right, #0fb8ad, #1fc8db, #2cb5e8);
    padding: 10px;
    text-align: right;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
